.modal {
    position: relative;
    & .item__icon--delete {
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        font-size: 30px;
        transform: translate(100%, -100%);
        display: flex;
        border-radius: 50px;
    }
}