.modal__container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000075;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    & .modal {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
    }
}