
h1{
  font-size: 4rem;
  text-align: center;
}

.app{
  max-width: 400px;
  width: 100%;
  background-color: white;
  padding: 2rem;
  box-shadow: 0 0 5px #00000048;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

